body{
    background: url(../../img/background.png);
    font-family: 'poppins' , sans-serif;
}

nav{
    margin: auto;
    width: 85%;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

nav .logo{
    width: 120px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.login_div{
    width: 350px;
    height:300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.288);
}

.login_div_position{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.login_div input{
    padding: 12px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.452);
    width: 200px;
    color: white;
}

.login_div button{
    padding: 12px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.452);
    border-radius: 5px;
    width: 100px;
}

.cen{
    justify-content: center;
    display: flex;
    align-items: center;
}