body{
    background: url(../../../../../img/background.png);
    font-family: sans-serif;
}

.position{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}